body {
  font-family: cursive;
  background-color: #f0abb9f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  font-size: 28px;
  color: black;
}

.student-form {
  background-color: #6df3e8;
  padding: 50px;
  width: 450px;
  
}

.student-form label {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  font-style: oblique;
  color: black;
}

.student-form input {
  width: 100%;
  padding:10px;
  border-radius:15px;
  
}

.student-form button {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background-color: #ff00ff;
  color: white;
  font-size:20px;
 border-radius:15px;
}

.student-form button:hover {
  background-color: #ff81fb;
}
