   body {
      font-family: Arial, sans-serif;
      background-color: #57a3ef;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    form {
      background-color: #80e874;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(253, 7, 7, 0.1);
      width: 100%;
      max-width: 600px;
    }

    legend h1 {
      text-align: center;
      color: #333;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      color: #333;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    select,
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      border: 1px solid #ff0000;
      border-radius: 6px;
      font-size: 16px;
      box-sizing: border-box;
    }

    .gender-group {
      margin-top: 10px;
      display: flex;
      gap: 10px;
    }

    .gender-group label {
      margin-top: 0;
      font-weight: normal;
    }

    textarea {
      resize: vertical;
    }

    input[type="submit"] {
      background-color: #10d7ff;
      color: rgb(0, 0, 0);
      padding: 10px 30px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
    }

    input[type="submit"]:hover {
      background-color: #e82b2b;
    }

    center {
      margin-top: 20px;
    }